# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage
.nyc_output

# production
/build
public/dist
public/assets/css/main.css

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#webpack bundle analyzer
stats.json

#env variables
.env

#apidoc
apidoc
